@charset "utf-8";
/* CSS Document */
.body{
	background-color:#FFF;
      margin-left: auto;
	  margin-right: auto;
	  width: 93.75%;
	  max-width: 959px;
	  height: 100%;
	  border: 1px solid black;
}

.header{
	height: 5%;
	width: 100%;
	
}

.title{
	color: #002753;
}

#pageHeader{
	
}

#resize{
	height:auto;
	width:auto;
	max-width: 100%;
	max-height: 135px;
	z-index: 0;
}

#bannertext{
	z-index: 1;
	position:relative;
	height: 0px;
	bottom: 70px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:38px;
	color:#FFF;
	text-shadow:1px 1px 0 #fff,
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
0px 1px 0 #000,
1px 0px 0 #000,
0px -1px 0 #000,
-1px 0px 0 #000,
10px 0px 30px #87D0F8;
}

#welcomeresize{
	height:auto;
	width:auto;
	max-width: 100%;
	max-height: 160px;
	
	
}

.nav{
	float: left;
	height: 100%;
	width: 12%;
	min-width: 80px;
	border: 1px solid black;
	background-color: #002753; 
	color: #F7980A;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
}


.welcome{
	height: 45%;
	border: 1px solid black;
	/*background-color:#CF6;*/
}

#welcome-image{
	/*padding-top: 1%;*/
	padding-right: 3%;
}
.fund{
	float:left;
	width: 42%;
	height: 30%;
	border: 1px solid black;
}

.apply{
	float:left;
	width: 42%;
	height: 30%;
	border: 1px solid black;
}

.work{
	float:left;
	width: 87%;
	height: 30%;
	border: 1px solid black;
}

.doc{
	float:left;
	width: 87%;
	height: 25%;
	border: 1px solid black;
	/*background-color:#F66; */
}

.middle-section{
		
}

.center{
	text-align:center;
}

.right{
	text-align:right;
	color: #FF0000;
	margin-right: 2%;
	font: Minion Pro;
	font-size:16px;
	font-weight:bold;
	
	
}

.body-text{
	font: Minion Pro;
	font-size:14px;
}

.footer{
	color:#FFF;
	background-color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}

